*{
  box-sizing: border-box;
}
body {
  margin: 0;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5;
  color: #333;
  overflow-x: hidden;

}

nav {
  position: relative;
  z-index: 3;
}

.shrink {
  background: rgba(0,0,0,0.2);
  color: #000;
}

.navbar {
  font-family: 'Poppins', sans-serif;
}

.header {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-image: url('images/header.jpg');
  background-size: cover;
  background-attachment: fixed;
}

.container {
  max-width: 960px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: auto;
  text-align: center;
}

.header-overlay {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  background: #333;
  opacity: 0.4;
}

.header-content h1 {
  position: relative;
  font-size: 100px;
  margin-bottom: 0;
  text-align: center;
  font-family: 'Monoton', cursive;
}


h1 {
  padding-bottom: 2rem;
  z-index: 3;
}

.part {
  padding-top: 2rem;
  padding-bottom: 2rem;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  background: #fff;
  color: #333;
  z-index: 5;
}


.img:hover {
  transition: 0.5s;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  -webkit-filter: grayscale(10%);
      -moz-filter: grayscale(10%);
        -o-filter: grayscale(10%);
       -ms-filter: grayscale(10%);
           filter: grayscale(10%);
}

.img {
  -webkit-filter: grayscale(100%);
      -moz-filter: grayscale(100%);
        -o-filter: grayscale(100%);
       -ms-filter: grayscale(100%);
           filter: grayscale(100%);
  border-radius: 100px;
  height: 150px;
  width: 150px;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2);
}

h4 {
  padding-bottom: 3rem;
  padding-top: 1rem;
}

.divider {
  height: 1px;
  background: grey;
  opacity: 0.35;
  width: 75%;
}

.divider2 {
  height: 1px;
  background: grey;
  opacity: 0.35;
  width: 100%;
  margin-bottom: 2
  padding-bottom: 2rem;
}

.icons {
  color: #333;
  margin: 10px;
  font-size: 20px;
}

.footer {
  background: #fff;
  color: #333;
  font-family: 'Poppins', sans-serif;
}

.lens {
  font-family: 'Monoton', cursive;
  padding-left: 3rem;
}

.cop {
  text-align: right;
}


@media(max-width:960px){
    .container {
      padding-right: 3rem;
      padding-left: 3rem;
    }
}

@media(max-width:720px) {
  .container {
    max-width: 720px;
    padding-right: 3rem;
    padding-left: 3rem;
  }
  .header-content h1 {
    font-size: 60px;
    position: relative;
  }
  .img {
    height: 70px;
    width: 70px;
  }
}

@media(max-width:576px) {
    .header-content h1 {
      font-size: 35px;
      position: relative;
    }
    .container {
      max-width: 576px;
      padding-right: 3rem;
      padding-left: 3rem;
    }
    .section-members h1 {
      padding-bottom: 1rem;
    }

    .img {
      height: 80px;
      width: 80px;
    }

}
